@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Instrument+Serif:ital@0;1&family=Limelight&family=MedievalSharp&family=Quintessential&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.nome{
    font-family: 'Covered By Your Grace';
    color: rgb(255, 255, 255);
    font-size: 4vh;
    background-color: #2c007e42;
    padding: 4px;
    margin: 0px;
    text-align: center;
    background-image:
    linear-gradient(
    to right, 
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.781) 10%,
    rgba(32, 32, 32, 0) 50% );
}
.bloco1{
    background-image:
    linear-gradient(
      to right, 
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.781) 30%,
      rgba(32, 32, 32, 0) 100% 
    ),
    url("../imagens/tanjiro-kamado-1920x1080-23027.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px;
}
.l1>h2>a{
    color: white;
    margin: 2px;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    background-color: #2c007e42;
    font-size: 3.5vw;
}
.l1:hover, .l2:hover, .l3>h2:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.342);
}
.l2>h2>a{
    color: white;
    margin: 2px;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    background-color: #2c007e42;
    font-size: 3.5vw;
}
.l3>h2>a{
    color: white;
    margin: 2px;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    background-color: #2c007e42;
    font-size: 3.5vw;
}
h2>a:hover{
    color: #af3700;
}
.q1{
    font-family: 'Covered By Your Grace';
    font-size: 6vw;
    color: white;
    padding: 30px 30px 160px 30px;
    font-weight: bold;
}
.bloco2{
    background-image: url(../pag01/fotos/jujutsu\ kaisen\ wallpaper\ mangá.jpg);
}
.q2{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
}
.q2>h2{
    color: rgb(172, 21, 59);
    padding: 3px;
    font-size: 3vh;

}
.q2>h3{
    color: rgb(230, 230, 230);
    padding: 3px;
    font-size: 2vh;

}
.q2>p{
    color: white;
    padding: 3px;
    font-size: 2.5vh;

}
.q3{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
}
.q3>h1{
    color: rgb(134, 17, 2);
    padding: 3px;
    font-size: 4vh;

}
.q3>p{
    color: white;
    padding: 3px;
    font-size: 2.5vh;

}
